# fly.toml app configuration file generated for gw2-discordraidbot on 2025-11-18T11:19:05Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gw2-discordraidbot'
primary_region = 'ams'

[build]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
